@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Firebase CRUD app!</h1>
    <p>Head on over to <a href="@Url.Action("Index", "Cars")">Cars</a> to get started!</p>
</div>
