@model Car

<form asp-action="Create" method="post">
    <div>
        <label for="Make">Make</label>
        <input type="text" id="Make" name="Make" required />
    </div>
    <div>
        <label for="Model">Model</label>
        <input type="text" id="Model" name="Model" required />
    </div>
    <div>
        <label for="Year">Year</label>
        <input type="number" id="Year" name="Year" required />
    </div>
    <button type="submit">Create</button>
</form>
