@model IEnumerable<Car>

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>
                    <a href="/Cars/Edit/@car.CarId">Edit</a>
                    <a href="/Cars/Delete/@car.CarId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
